.announcementOuterContainer {
  background: radial-gradient(black, transparent);
  padding: 5px;
  position: fixed;
  width: 100%;
}

.announcementData {
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

@media (max-width: 947px) {
  .announcementData{ 
    font-size: 13px;
  }
}